<div class="search-results" data-search-posts-target="list">
  <% @searched_posts.each do |post| %>
    <div class="search-post-results">
      <div class="post-title">
        <p><%= post.title %></p>
      </div>
      <div class="post-add-button">
        <%= simple_form_for([@listpost]) do |f| %>
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.hidden_field :list_id, value: @list.id %>
          <%= f.submit 'Add', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
