<div class="container lists">

  <div class="my-lists">
    <h1>My Lists</h1>
    <ul>
      <% @lists.each do |list| %>
        <li>
          <div class="list-card">
            <div class="left-list">
              <h3><%=link_to list.name, list_path(list) %></h3>
              <p><%= list.posts.count%> Posts</p>
              <p><%= link_to "Edit list", edit_list_path(list) %></p>
            </div>
            <div class="right-list">
              <p>Created: <%= list.created_at.strftime("%d %B")%></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="list-add">
    <h1>Add a new list</h1>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name, placeholder: "Enter your List name"%>
      <%= f.submit class: "main-btn" %>
    <% end %>
  </div>


</div>
