<div class="container">
  <h1>My Lists</h1>
  <h2>Add a new list</h2>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: "Enter your tasklist name"%>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <ul>
    <% @lists.each do |list| %>
      <li><%=link_to list.name, list_path(list) %> <%= link_to "edit list title", edit_list_path(list) %> </li>
    <% end %>
  </ul>
</div>
