<div class="chatroom-index container">
<div class="d-flex align-items-center">
<i class="fa-solid fa-message background-white px-3"></i>
  <h2 class="background-white">My Messages</h2>
</div>
  <% @chatrooms.each do | chatroom | %>
    <%# <% if chatroom.sender_id == current_user.id %>
    <div class="chatroom-card">
      <% if chatroom.messages.present? %>
        <%= link_to chatroom_path(chatroom) do %>
          <div class="chatroom-card-overall">
            <div class="chatroom-card-details">
              <div class="chatroom-card-profile-pic">
                <% if chatroom.receiver.photo.present? %>
                  <%= cl_image_tag chatroom.receiver.photo.key, class: "avatar-small-circle", alt: "avatar-bordered" %>
                <% else %>
                  <%= image_tag 'Meeseeks.png', class: "avatar-small-circle", alt: "avatar-bordered" %>
                <% end %>
              </div>
              <div class="chatroom-card-username">

                <div class="chatroom-card-username-name">
                  <% if current_user.id == chatroom.sender_id %>
                    <h5><%= chatroom.receiver.username %></h5>
                    <% else %>
                    <h5><%= chatroom.sender.username %></h5>
                  <% end %>
                </div>

                <div class="chatroom-card-username-last-message">

                  <div class="chatroom-card-username-last-message-content">
                    <% if current_user = chatroom.messages.last.user %>
                      <p>You: <%= chatroom.messages.last.content %></p>
                      <% else %>
                      <p><%= chatroom.messages.last.content %></p>
                    <% end %>
                  </div>

                  <div class="chatroom-card-username-last-message-time">
                    <p>   <%= chatroom.messages.last.created_at.strftime("%a %b %e at %l:%M %p") %></p>
                  </div>

                </div>
              </div>
            </div>
            <div class="chatroom-card-other">
              <p><%= chatroom.messages.count %> New Messages</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
