<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >
  <div class="message-details">
    <div class="message-profile-photo">
      <% if @chatroom.receiver.photo.present? %>
        <%= cl_image_tag @chatroom.receiver.photo.key, class: "message-profile-user", alt: "avatar-bordered" %>
        <% else %>
          <%= image_tag 'Meeseeks.png', class: "message-profile-user", alt: "avatar-bordered" %>
        <% end %>
    </div>
    <% if @chatroom.sender_id == current_user %>
    <div class="message-header">
      <h1>Your message history with <%= @chatroom.sender.username %></h1>
    </div>
    <% else %>
    <div class="message-header">
      <h1>Your message history with <%= @chatroom.receiver.username %></h1>
    </div>
    <% end %>
  </div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
    <% end %>
  </div>

    <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm"},
    class: "d-flex" } do |f|
    %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
