
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="user-card-body d-flex align-items-center">
        <div class="user-card-avatar">
          <% if @post.user.photo.present? %>
            <%= cl_image_tag @post.user.photo.key, class: "avatar-bordered", alt: "avatar-bordered" %>
          <% else %>
            <%= image_tag 'Meeseeks.png', class: "avatar-small-circle", alt: "avatar-bordered" %>
          <% end %>
        </div>
        <div class="text-greybackground-white">
          <i class="fa-solid fa-user"></i>
          <span><%= @post.user.username %></span>
        </div>
        <div class="button-list">

            <%# <%= link_to chatroom_path, class: "main-btn" do %>
              <%# <i class="fa-regular fa-messages"></i> %>
              <%# <span>Send User a message</span> %>
              <%= simple_form_for([@chatroom]) do |f| %>
                  <%= f.hidden_field :sender_id, value: current_user.id %>
                  <%= f.hidden_field :receiver_id, value: @post.user.id %>
                  <%= f.submit 'Send message', class: "main-btn" %>
              <% end %>
            <%# <% end %>

          <div class="main-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Leave a review
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
