
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="user-card-body d-flex align-items-center">
        <div class="user-card-avatar">
          <% if @post.user.photo.present? %>
            <%= cl_image_tag @post.user.photo.key, class: "avatar-bordered", alt: "avatar-bordered" %>
          <% else %>
            <%= image_tag 'Meeseeks.png', class: "avatar-small-circle", alt: "avatar-bordered" %>
          <% end %>
        </div>
        <div class="text-greybackground-white">
        <i class="fa-solid fa-user"></i>
          <span><%= @post.user.username %></span>
        </div>
        <div class="button-list">
            <% if @chatroom.present? %>
              <%= link_to post_chatroom_path(@post, @chatroom), class: "main-btn" do %>
                  <i class="fa-regular fa-messages"></i>
                  <span>Send User a message</span>
              <% end %>
            <% else %>
             <%= simple_form_for [@post, @new_chatroom] do |f| %>
                <%=  f.submit "Send User a Message", class: "main-btn"%>
             <% end %>
            <% end %>
          <div class="main-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Leave a review
          </div>
          </div>
        </div>
      </div>

    </div>
</div>
