
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="user-card-body d-flex align-items-center">
        <div class="user-card-avatar">
          <% if @post.user.photo.present? %>
            <%= cl_image_tag @post.user.photo.key, class: "avatar-bordered", alt: "avatar-bordered" %>
          <% else %>
            <%= image_tag 'Meeseeks.png', class: "avatar-small-circle", alt: "avatar-bordered" %>
          <% end %>
        </div>
        <div class="text-greybackground-white">
          <i class="fa-solid fa-user"></i>
          <span><%= @post.user.username %></span>
        </div>
        <div class="button-list">
            <%# <% if current_user.id == @post.user.id %>
              <%# <%= link_to 'See your messages', chatrooms_path, class: "main-btn" %>
            <% if @existingchatroom.present? %>
              <%= link_to 'Send message existing', chatroom_path(@existingchatroom), class: "main-btn" %>
            <% else %>
              <%= simple_form_for(@newchatroom) do |f| %>
                <% if user_signed_in? %>
                  <%= f.hidden_field :sender_id, value: current_user.id %>
                <% end %>
                  <%= f.hidden_field :receiver_id, value: @post.user.id %>
                  <%= f.submit 'Send message new', class: "main-btn" %>
              <% end %>
            <% end %>


          <div class="main-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Leave a review
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
