

<!DOCTYPE html>
<html>
  <head>
    <title>Sheddyadvice - Shed the cost of living with us!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= favicon_link_tag 'spanner.svg' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container">
    <div class="my-slider">

    <div class="row">
      <div class="my-slider">
        <% @top_rated_posts = Post.top_rated %>
        <% @top_rated_posts.each do |post| %>
        <div class="col-md-3 px-2">
          <div class="home-card mb-3">
            <% if post.photo.present?  %>
              <%= link_to post_path(post) do %>
                <%= cl_image_tag post.photo.key,  html: { crop: :fill} %>
                <h2 class="card-title"><%= post.title %></h2>
                  <div class="card-details">
                    <span class="card-author">created by: <%= User.find(post.user_id).username %></span>
                    <% feedback_rating = Feedback.average_rating(post) %>
                    <% if post.feedback_ids.present? %>
                    <% if feedback_rating % 1 == 0 %>
                      <span class="card-rating">Rating: <% feedback_rating.to_i.times do %>
                      <i class="fa-solid fa-star primary-green"></i>
                    <% end %>
                      </span>
                    <% else %>
                      <span class="card-rating"> Rating: <% feedback_rating.to_i.times do %>
                      <i class="fa-solid fa-star primary-green"></i>
                    <% end %><i class="fa-solid fa-star-half primary-green"></i>
                      </span>
                    <% end %>
                    <% else %>
                      <span class="card-rating">Rating: Not Rated yet</span>
                    <% end %>
                  <% end %>
                  </div>
              <% end %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</body>
