

<!DOCTYPE html>
<html>
  <head>
    <title>Sheddyadvice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/banner_search" %>


<div class="container">
  <div class="top-rated">
    <h2 class="headline">Top Rated</h2>
    <div class="home-cards">
      <% @top_rated_posts = Post.top_rated %>
        <% @top_rated_posts.each do |post| %>
        <%= link_to post_path(post), class: "small-card" do %>
          <div class="small-card-body">
                <%= cl_image_tag post.image.key,  html: {height: 300, width: 400, crop: :fill}, class: "card-media" %>
                <span class="card-author"><% post.user_id%></span>
                <h2 class="card-title"><%= post.title %></h2>
             </div>
             <% end %>
          <hr>
    <% end %>

    </div>

<div class="orange-background p-5">
  <div class="container">
      <div class="paintbrush">
        <h2 class="headline pt-5 background-white">Top Rated</h2>
        <div class="home-cards p5">
            <% @top_rated_posts = Post.top_rated %>
            <% @top_rated_posts.each do |post| %>
                <%= link_to post_path(post), class: "small-card" do %>
                  <div class="small-card-body">
                    <%= image_tag "https://s15.postimg.cc/temvv7u4r/recipe.jpg" %>
                    <span class="card-author"><% post.user_id%></span>
                    <h2 class="card-title"><%= post.title %></h2>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<div class="background-white p-5">
  <div class="container">
    <div class="spanner">
      <h2 class="headline pt-5 primary-green">Trending</h2>
      <div class="home-cards p5">
        <% @trending_posts = Post.trending %>
        <% @trending_posts.each do |post| %>
          <%= link_to post_path(post), class: "small-card" do %>
            <div class="small-card-body">

                  <%= cl_image_tag post.image.key,  html: {height: 300, width: 400, crop: :fill}, class: "card-media" %>
                  <span class="card-author"><% post.user_id%></span>
                  <h2 class="card-title"><%= post.title %></h2>
               </div>
            <% end %>
            <hr>
      <% end %>

    </div>
  </div>
</div>

<div class="orange-background p-5">
  <div class="container">
    <div class="hammer">
      <h2 class="headline pt-5 background-white">Recent Posts</h2>
      <div class="home-cards">
        <% @recent_posts = Post.recent %>
        <% @recent_posts.each do |post| %>
          <%= link_to post_path(post), class: "small-card" do %>
            <div class="small-card-body">

                  <%= cl_image_tag post.image.key,  html: {height: 300, width: 400, crop: :fill}, class: "card-media" %>
                  <span class="card-author"><% post.user_id%></span>
                  <h2 class="card-title"><%= post.title %></h2>
               </div>
            <% end %>
            <hr>
      <% end %>

    </div>
  </div>
</div>

  </body>
</html>
