

<!DOCTYPE html>
<html>
  <head>
    <title>Sheddyadvice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/banner_search" %>

<div class="top-rated">
  <h2 class="headline">Top Rated</h2>
  <% @top_rated_posts = Post.top_rated %>
    <% @top_rated_posts.each do |post| %>
      <li><div class="card-body">
            <span class="card-author"><% post.user_id%></span>
            <h2 class="card-title"><%= post.title %></h2>
         </div>
        </li>
      <hr>
<% end %>
</div>

  </body>
</html>
