
  <div class="container text-center">
    <div class="row">
      <div class="col">
         <h1>Join our community</h1>
      </div>
    </div>
   <div class="card-container">

   <% @posts.each do |post| %>
      <%= link_to post_path(post), class: "large-card" do %>
        <% if post.photo.present? %>
            <%= cl_image_tag post.photo.key, html: {crop: :fill}, class: "card-media" %>
        <% else %>
          <%= image_tag "https://s15.postimg.cc/temvv7u4r/recipe.jpg" %>
        <% end %>
        <div class="large-card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <span class="card-description"><%= post.body[0..50] %>...</span>
            <span class="card-author">Created by: <%= post.user.username %> </span>
            <% average_rating = Feedback.average_rating(post) %>
            <% if post.feedback_ids.present? %>
              <% if average_rating % 1 == 0 %>
                  <span class="card-rating">Rating: <% average_rating.to_i.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %> </span>
                <% else %>
                  <span class="card-rating"> Rating: <% average_rating.to_i.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %><i class="fa-solid fa-star-half"></i></span>
                <% end %>
              <% else %>
                <span class="card-rating">Rating: Not Rated yet</span>
            <% end %>
        </div>
        <div class="card-date">
          <span>Posted: <%= post.created_at.strftime("%d %B") %></span>
        </div>

      <% end %>
    <% end %>




</div>
</div>
