<div class="my-lists default-list" data-search-lists-target="list">
    <% searched_lists.each do |list| %>
      <div class="post-list-results" data-search-lists-target="dropdownlist">
        <div class="add-list-button">
          <%= simple_form_for([@listpost]) do |f| %>
                  <%= f.hidden_field :list_id, value: list.id %>
                  <%= f.hidden_field :post_id, value: @post.id %>
                  <%= button_tag type: 'submit', class: "post-button" do %>
                    <i class="fa-solid fa-list-ul me-2"></i>
                    <span><%=list.name %></span>
                  <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
