<div class="my-lists" data-search-lists-target="list">
    <% searched_lists.each do |list| %>
      <div class="post-list-results d-none" data-search-lists-target="dropdownlist">
        <div class="list-name">
          <p><%= list.name %></p>
        </div>
        <div class="add-list-button">
          <%= simple_form_for([@listpost]) do |f| %>
            <%= f.hidden_field :list_id, value: list.id %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.submit 'Add', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
