<div class="row pb-5"  data-edit-fields-target="info">
  <div class="col-8">
    <div data-edit-fields-target="post">
         <h1 class=""><%= @post.title %></h1>
      <%# <% if @post.photo.attached? %>
        <%# <%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill%>
      <%# <% end %>
        <%# <%= cl_video_tag("DIYVideoDemo", height: 500, width: 900, crop: :fill, controls: '') %> %>
      <p class=""><%= @post.body %></p>
    </div>
    <%= simple_form_for @post, html: {class: "d-none", data: {
            edit_fields_target: "form",
            action: "submit->edit-fields#update"
                }} do |f| %>
      <%= f.input :title, placeholder: "#{@post.title}" %>
      <%= f.input :body, placeholder: "#{@post.body}" %>
      <%= f.input :video, placeholder: "#{@post.video}" %>
      <%= f.button :submit, class: "main-btn" %>
    <% end %>
  </div>

  <div class="col-2" data-controller="post-dropdown">
      <% if current_user === @post.user %>
        <i class="fa-solid fa-ellipsis edit-toggle" data-post-dropdown-target="menu" data-action="click->post-dropdown#displayMenu"></i>
        <div class="post-menu d-none" data-post-dropdown-target="menuBody">
          <button style="border:0; background:none;" class="d-flex menu-item" data-edit-fields-target="button" data-action="click->edit-fields#displayForm">
            <i class="fa-solid fa-pen fa-xs mx-2 py-2"></i>
              <p> Edit post</p>
          </button>
            <%= link_to post_path(@post), class:"menu-item", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash mx-2 py-2"></i>
              <p>Delete post </p>
            <% end %>
        </div>
    <% end %>
  </div>


</div>
<%= render "shared/user_card" %>
