<div class="row pb-5"  data-edit-fields-target="info">
  <div class="col-4">
    <div data-edit-fields-target="post">
      <h1 class=""><%= @post.title %></h1>
      <p class=""><%= @post.body %></p>
    </div>
      <%= simple_form_for @post, html: {class: "d-none", data: {
          edit_fields_target: "form",
          action: "submit->edit-fields#update"
              }} do |f| %>
        <%= f.input :title, placeholder: "#{@post.title}" %>
        <%= f.input :body, placeholder: "#{@post.body}" %>
        <%= f.button :submit %>
      <% end %>
  </div>
  <div class="col-2" data-controller="post-dropdown">
    <i class="fa-solid fa-ellipsis" data-post-dropdown-target="menu" data-action="click->post-dropdown#displayMenu"></i>
    <div class="post-menu d-none" data-post-dropdown-target="menuBody">
      <button style="border:0; background:none;" class="d-flex">
      <p> Edit post</p>
        <i class="fa-solid fa-pen fa-xs ml-2" data-edit-fields-target="button" data-action="click->edit-fields#displayForm"></i>
      </button>
      <div class="d-flex">
        <%= link_to post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <p>Delete post </p>
          <i class="fa-solid fa-trash"></i>
        <% end %>
   </div>
  </div>
</div>
