
<div class="container" data-controller="edit-fields">

  <%= render "post_info" %>

  <div class="reviews" data-controller="add-review-in-list" data-add-review-in-list-position-value="beforeend">

      <div class="all-reviews" data-add-review-in-list-target="reviews">
        <h3>Reviews</h3>
        <% @feedbacks.each do |feedback| %>
          <%= render "feedbacks/feedback", feedback: feedback %>
        <% end %>
      </div>
      <%= render "feedbacks/form", post: @post, feedback: @feedback %>

  </div>

  <div class="container-list">
    <h2>Add to list</h2>
    <% @searched_lists.each do |list| %>
        <p><%= list.name %></p>
        <%= simple_form_for([@post]) do |f| %>
          <%= f.hidden_field :list_id, value: list.id %>
          <%= f.submit 'Add', class: "btn btn-primary" %>
        <% end %>
    <% end %>
  </div>

</div>
