<div class="container" data-controller="edit-fields" data-edit-fields-target="postInfo">
    <%= render "post_info" %>


<%# review / feedback form %>
  <%= simple_form_for([@post, @feedback]) do |f| %>
    <%= f.input :rating, placeholder: "Enter a rating"%>
    <%= f.input :comment %>
    <%= f.submit class: "button-primary" %>
  <% end %>
  <h3>Reviews</h3>
    <ul>
      <% @feedbacks.each do |feedback| %>
        <li>
          <p><%= feedback.rating %></p>
          <p><%= feedback.comment %></p>
        </li>
        <% end %>
    </ul>
</div>
