
<div class="container" data-controller="edit-fields">
  <div class="row">
    <%= render "post_info" %>
    <%= render "shared/user_card" %>
  </div>
  <div class="reviews" data-controller="add-review-in-list" data-add-review-in-list-position-value="afterbegin">
    <% if @post.feedbacks.present? %>
      <h3>Reviews</h3>
    <% end %>
    <%= render "feedbacks/form", post: @post, feedback: @feedback %>
    <%# <%= render "feedbacks/form", post: @post, feedback: @feedback %>
    <%# <%= render "feedbacks/form"%>

    <% if @post.feedbacks.present? %>
      <% (rating_score = @feedbacks.sum {|num| (num.rating.to_f)} / @feedbacks.length).round(2) %>
      <% if rating_score % 1 == 0 %>
        <p>Current Rating: <% rating_score.to_i.times do %>
          <i class="fa-solid fa-star primary-green"></i>
        <% end %></p>
      <% else %>
        <p>Current Rating: <% rating_score.to_i.times do %>
          <i class="fa-solid fa-star primary-green"></i>
        <% end %><i class="fa-solid fa-star-half primary-green"></i></p>
      <% end %>
    <% end %>
    <%# <%= render "feedbacks/form", post: @post, feedback: @feedback %>

    <div class="all-reviews" data-add-review-in-list-target="reviews">
      <% @feedbacks.each do |feedback| %>
        <%= render "feedbacks/feedback", feedback: feedback %>
      <% end %>
    </div>
  </div>
</div>
