
<div class="container">
  <div class="row">
    <%= render "post_info" %>
  </div>
  <div class="row">
  <%= render "shared/user_card" %>
</div>
  <div class="reviews" data-controller="add-review-in-list" data-add-review-in-list-position-value="afterbegin">
    <h3>Reviews</h3>

    <%= render "feedbacks/form", post: @post, feedback: @feedback %>
    <%# <%= render "feedbacks/form"%>

    <% (rating_score = @feedbacks.sum {|num| (num.rating.to_f)} / @feedbacks.length).round(2) %>
      <% if rating_score % 1 == 0 %>
        <p>Current Rating: <% rating_score.to_i.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %></p>
      <% else %>
        <p>Current Rating: <% rating_score.to_i.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %><i class="fa-solid fa-star-half"></i></p>
      <% end %>
    <%# <%= render "feedbacks/form", post: @post, feedback: @feedback %>

    <div class="all-reviews" data-add-review-in-list-target="reviews">
      <% @feedbacks.each do |feedback| %>
        <%= render "feedbacks/feedback", feedback: feedback %>
      <% end %>
    </div>
  </div>

  <div class="search-lists" data-controller="search-lists">
    <h2>Add to my lists</h2>
      <%= form_with url: post_path, method: :get, html: {class: "d-flex", data: {search_lists_target: "form searchbar"}} do |f| %>
          <%= f.text_field :query,
                  value: params[:query],
                  class: "form-control",
                  placeholder: "Find a list",
                  data: {
                    search_lists_target: "input",
                    action: "keyup->search-lists#update click->search-lists#show",
                  } %>
      <% end %>
    <%= render "posts/my_lists", searched_lists: @searched_lists %>
  </div>
</div>
