<div class="container">
  <div class="post">
    <h1><%= @post.title %></h1>
    <p><%= @post.body %></p>
  </div>

  <div class="review">
    <div class="add-review">
      <%= simple_form_for([@post, @feedback]) do |f| %>
        <%= f.input :rating, placeholder: "Enter a rating"%>
        <%= f.input :comment %>
        <%= f.submit class: "button-primary" %>
      <% end %>
    </div>
    <div class="all-reviews">
      <h3>Reviews</h3>
      <ul>
      <% @feedbacks.each do |feedback| %>
        <li>
          <p><%= feedback.rating %></p>
          <p><%= feedback.comment %></p>
        </li>
        <%= link_to 'Edit', edit_post_feedback_path(@post) %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
